.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  @include media-breakpoint(md) {
    height: auto;
    padding: 20px;
  }
}

.formContainer {
  max-width: 25%;
  padding: 2rem 5rem;
  background-color: $color-black;
  color: $color-white;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

  @include media-breakpoint(lg) {
    max-width: 50%;
    padding: 1.5rem 4rem;
  }

  @include media-breakpoint(md) {
    max-width: 80%;
    padding: 1rem 2rem;
  }

  @include media-breakpoint(sm) {
    max-width: 100%;
    padding: 1rem;
  }
}

.header {
  text-align: center;
}

.formTitle {
  margin-bottom: 2rem;
  color: $color-white;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: $color-white;
}

.inputField {
  .MuiOutlinedInput-root {
    fieldset {
      border-color: $color-main;
    }
  }
  .MuiInputBase-input {
    color: $color-white;
  }
}

.submitButton {
  margin-top: 1.5rem;
  background-color: $color-main;
  color: $color-black;
  padding: 16px 60px;
  cursor: pointer;
  margin: 0 30px;

  @include media-breakpoint(md) {
    padding: 12px 40px;
    margin: 0 10px;
  }

  @include media-breakpoint(sm) {
    padding: 10px 20px;
    margin: 0;
    width: 100%;
  }
}
